# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug*/
[Rr]elease*/
artifacts/
TestResults/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
_ReSharper*/
*.DotSettings.user

# Test and coverage
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info
TestResults/
tests_results/

# NuGet
*.nupkg
*.snupkg
packages/

# OS files
.DS_Store
Thumbs.db

# Libman dir
/src/BudgetManager.Web/wwwroot/lib/

# Temp dir
tmp/

# JavaScript tests
node_modules/
coverage/
